* {
  border: 1px solid red;
}
body {
  background: #222;
  font-family:
    "SF Mono", "Segoe UI Mono", Menlo, Consolas, "Liberation Mono",
    "Courier New", monospace;
  color: white;
}

#projects {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: center;
  gap: 2em;
  grid-row-gap: 3em;

  a {
    color: white;
    text-decoration: none;
    display: block;
  }
  figcaption {
    font-size: 1.2em;
    margin-top: 0.4em;
  }
  li {
    text-align: center;
  }
  img {
    width: 100%;
  }
  figure {
    margin: 0;
  }
  .tech-title {
    font-size: 0.85em;
    opacity: 0.7;
    margin-top: 0.2em;
  }
}

a:visited {
  color: inherit;
}
